<ion-content [fullscreen]="true" class="thank-you-page">
  <!-- Loader grande -->

  <!-- Mensaje principal -->
  <div class="thank-you-message">
    <ion-icon name="checkmark-circle" class="icon-check"></ion-icon>
    <h1>¡Pedido Confirmado!</h1>
    <p>Estamos preparando tu pedido, gracias por elegirnos.</p>
  </div>

  <!-- Elementos animados -->
  <div class="animated-elements">
    <div class="floating-icons">
      <ion-icon name="storefront-outline" class="icon icon-1"></ion-icon>
      <ion-icon name="location-outline" class="icon icon-3"></ion-icon>
      <ion-icon name="cart-outline" class="icon icon-4"></ion-icon>
      <ion-icon name="pricetag-outline" class="icon icon-5"></ion-icon>
    </div>
  </div>

  <!-- Mensaje de agradecimiento adicional -->
  <div class="additional-message">
    <p>
      <ion-icon name="happy-outline" class="emoji"></ion-icon>
      Nos hace muy felices servirte. Tu satisfacción es nuestra prioridad.
    </p>
    <p>
      <ion-icon name="time-outline" class="emoji"></ion-icon>
      En un momento verás tu ticket.
    </p>
  </div>

  <!-- Fondo decorativo con ondas -->
  <div class="background-waves">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
  </div>
</ion-content>