.image-icon{
    font-size: 100px;
    opacity: 30%;
}

ion-avatar{
    width: 200px;
    height: 160px;
    --border-radius: 15px;
    margin: 0 auto;
}

.custom-toast {
    margin-bottom: 10px; /* Ajusta el espacio entre las alertas */
  }