<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

<ion-buttons slot="start">

  <!--============= Back Button ==============-->
  <ion-back-button defaultHref="/auth" routerLink="/auth" routerDirection="root"></ion-back-button>
  
</ion-buttons>

  <div style="display: inline-flex;">
    <img style="width: 85px; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; border-radius: 50%;" src="../../../../assets/img/Logo.png" alt="">
      <ion-title>
        <strong>Recuperar contraseña</strong>
        <div class="admin">Tortilleria Plata Jaimes</div>
      
      </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content >

<div class="d-flex-center">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <app-logo>   </app-logo>

    <p class="ion-text-center">Te enviaremos un email para que puedas reestablecer tu contraseña</p>

    <!--========== email ===============  -->
    
    <app-custom-input
     autocomplete="email"
     icon="mail-outline"
     [control]="form.controls.email"
     type="email"
     label="correo"
     maxlength="30"
     (input)="onEmailInput($event)"
     ></app-custom-input>

     <div class="validators" *ngIf="form.controls.email.touched">
      <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido </div>
      <div *ngIf="form.controls.email.errors?.['email']"> Ingresa un correo válido </div>
      <div *ngIf="form.controls.email.errors?.['maxlength']"> Máximo 30 caracteres </div>
    </div>




  <ion-button expand="block"  mode="ios" class="submit" type="submit" [disabled]="form.invalid">
    Recuperar 
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>

   

  </form>


    </div>
  
  </ion-content>